uppg create acc/index.html
html.html/home.html
html.html/index2.html
html.html/list-products.html
html.html/new-product.html
html.html/product-detail.html
html.html/style.css
images/nordwood-themes-Nv4QHkTVEaI-unsplash.jpg
uppg create acc/style.css
