body {
    font-family: 'Marcellus', serif;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: lightgrey;
    line-height: 1.5;
}

img {
    width: 100%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header-container img {
    max-width: 500px;
}

.header-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}


input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    align-self: flex-start;
    border-radius: 10px;
    background-image: url("../inlämningsuppg/bilder/search-solid.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
    padding-left: 30px;
}

.header-ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

main {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

.hero-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    border: solid black;
    padding: 20px;
    border-radius: 10px;
}

.hero-title {
    margin-top: 30px;
    margin-bottom: 0;
}

.hero-text {
    margin-top: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #b1348b;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    align-self: center;
    border-radius: 10px;
}

.hero-img {
    order: -1;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}

figure {
    width: 100%;
    margin: 0 auto;
}

figcaption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
}

span {
    justify-self: end;
}

.icon-list li {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer li i {
    margin-right: 8px;
}

h4 {
    margin-bottom: 5px;
}

.container-footer ul {
    margin: 0 auto;
}


small {
    display: block;
    text-align: center;
}

.mobile-display-none {
    display: none;
}

@media (min-width: 576px) {

    .header-container,
    .header-ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-ul {
        width: 50%;
    }

    .header-ul li {
        margin-right: 16px;

    }

    .input-holder {
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .hero-img {
        width: 100%;
        order: 0;
        margin-left: 70px;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    button {
        align-self: flex-start;
    }

    .mobile-display-none {
        display: flex;
        justify-content: space-between;
        text-align: center;

    }

    .spots {
        width: 30%;
    }

    h1 {
        text-align: center;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .icon-list {
        display: flex;
        justify-content: space-between;
    }


    div.container-footer {
        display: flex;
        margin-bottom: 100px;
    }

    .container-footer section {
        margin-right: 64px;
    }

}